.header {
  background: #578EE5;
  border-bottom: 2px solid #578ee5;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3px;
  font-weight: 600
}

.buttonContainer{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20px;
    
}
.header {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  text-align: center;
}

.form {
  width: 100%;
}

.button {
  width: 100%;
}

@media (min-width: 600px) {
  .button {
    width: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 5px;
  transition: 0.3s ease;
}
.button{
  color: #578EE5;
}