.container {
  align-items: flex-start;
  justify-content: space-evenly;
  inset: 0px;
  margin-top: 170px;
  width: 50%;
  height: 50%;
  align-content: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.css-5c1adp-MuiContainer-root{
  width: 50%;
}

.h4{
  margin: 10px;
}
/* .box {
  background: #ffffff;
  padding: 6px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1); 
  width: 400px; 
  display: flex;
  flex-direction: column;
  gap: 16px;
} */
/* 
.box .header {
  background-color: #578ee5;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
} */

/* .box .header h1 {
  color: #ffffff;
  margin: 0;
} */

.header {
  /* background-color: #578ee5; */
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.form {
  align-items: center;
  justify-content: center;
  inset: 0px;
}

/* input {
  width: 50%;
  padding: 0.8rem;
  border: 1px solid #c90e0e;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.3s;
} */

/* .button{
  width: 100%;
  padding: 12px;
  background-color: var(--accent);
  color: var(--secondary);
  border: 2px solid var(--primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
} */

.button {
  background-color: #578ee5;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}